<div class="sidebar">
    <div class="sidebar-header">
        <div>
            <a href="../index.html" class="sidebar-logo"><span>E-commerce</span></a>
            <small class="sidebar-logo-headline">Administradir de contenido E-commerce</small>
        </div>
    </div>
    <div id="dpSidebarBody" class="sidebar-body">
        <ul class="nav nav-sidebar">
            <li class="nav-label"><label class="content-label">Template Pages</label></li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="box"></i> Dashboard</a>
                <nav class="nav nav-sub">
                    <a href="../pages/dashboard-one.html" class="nav-sub-link">Analytics &amp; Monitoring</a>
                    <a href="../pages/dashboard-two.html" class="nav-sub-link">Projects &amp; Web Services</a>
                    <a href="../pages/dashboard-three.html" class="nav-sub-link">Blog &amp; Social Media</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="layout"></i> App Pages</a>
                <nav class="nav nav-sub">
                    <a href="../pages/app-calendar.html" class="nav-sub-link">Calendar</a>
                    <a href="../pages/app-chat.html" class="nav-sub-link">Chat</a>
                    <a href="../pages/app-mail.html" class="nav-sub-link">Mail</a>
                </nav>
            </li>
        </ul>
    </div>
</div><!-- sidebar -->